.addtocart-container{
  width: 100%;
  height: 180vh;
  background-color: #ff910009;
  @media (max-width: 768px){
    height: 210vh;
  }
  @media (max-width: 425px){
    height: 250vh;
  }
  .headers {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 425px) {
      height: 40vh;
    }
  }
}
