.sellmaterials-container {
  width: 100%;
  height: 180vh;
  background-color: #ff910009;
  @media (max-width: 768px){
    height: 210vh;
  }
  @media (max-width: 425px){
    height: 250vh;
  }

  .headers {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 425px) {
      height: 40vh;
    }
  }
  .sellmaterials-form {
    width: 100%;
    height: 160vh;
    // border: 2px solid gray;
    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    .form-area {
      width: 70%;
      height: 130vh;
      background-color: #fff;
      border-radius: 20px;
      padding-top: 50px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
        /* Top shadow */ 0 -4px 4px rgba(0, 0, 0, 0.1),
        /* Bottom shadow */ 4px 0 4px rgba(0, 0, 0, 0.1),
        /* Right shadow */ -4px 0 4px rgba(0, 0, 0, 0.1); /* Left shadow */
        @media (max-width: 768px){
          margin-top: 150px;
          height: 170vh;
        }
        @media (max-width: 425px) {
          width: 95%;
        }
        #heading {
        width: 100%;
        height: 10vh;
        // border: 2px solid red;
        text-align: center;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        width: 100%;
        height: 120vh;
        // border: 2px dotted dodgerblue;
        @media (max-width: 768px){
          height: 150vh;
        }

        p {
          margin-top: 15px;
          display: flex;
          justify-content: space-around;
          mat-form-field {
            width: 35%;
            @media (max-width: 768px){
              width: 40%;
            }
            @media (max-width: 425px) {
              width: 45%;
            }
          }
        }
        #picture-area {
          width: 100%;
          height: 120px;
          // border: 2px solid green;
          display: flex;
          justify-content: space-around; /* Center the child horizontally */
          align-items: center; /* Center the child vertically */
          @media (max-width: 768px){
            height: 240px;
            flex-direction: column;
          }
          @media (max-width: 425px) {
            flex-direction: column;

          }

          .area {
            padding-left: 30px;
            width: 40%;
            height: 120px;
            // border: 2px solid yellow;
            display: flex;
            align-items: center; /* Center the child vertically */
            @media (max-width: 768px){
              width: 60%;
              height: 240px;
              mat-form-field{
                width: 100%;
           }
           @media (max-width: 425px) {
            width: 100%;
            input{
              // border: 5px dotted darkblue;
              width: 95%;
            }
           }

            }

            #preview {
              width: 75%;
              height: 120px;
              // border: 2px dotted palevioletred;
              img {
                width: 100%;
                height: 120px;
              }
            }
          }
          mat-form-field {
            width: 30%;
            margin-right: 30px;
          }
        }
        #all-field {
          mat-error {
            margin-left: 83px;
          }
        }
        #register-submit {
          margin-top: 20px;
          button {
            margin-left: 83px;
            width: 30%;
            height: 6vh;
            background-color: rgba(255, 166, 0, 0.692);
            color: #fff;
            font-size: 20px;
          }
          button:hover {
            background-color: #f5922d;
          }
        }
      }
    }
  }
}
