<div class="forgot-container">
  <div class="forgot-area">
    <div class="img-logo">
      <img src="assets/logo/debri.png" alt="logo">
    </div>
    <div class="forgot-form">
      <p id="heading">Forgot password</p>
      <form [formGroup]="forgotForm" (ngSubmit)="onForgotPasswordSubmit()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="forgotForm.get('email')!.invalid && (forgotForm.get('email')!.dirty || forgotForm.get('email')!.touched)">
              Email required, valid format.
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="hidePassword ? 'Hide Password' : 'Show Password'">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="forgotForm.get('password')!.invalid && (forgotForm.get('password')!.dirty || forgotForm.get('password')!.touched)">
              Password: 8 characters minimum required.
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Conform Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter conform password" formControlName="conformPassword">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)" [attr.aria-label]="hidePassword ? 'Hide Password' : 'Show Password'">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="forgotForm.get('conformPassword')!.invalid && (forgotForm.get('conformPassword')!.dirty || forgotForm.get('conformPassword')!.touched)">
              Password and conform password should be same
            </mat-error>
          </mat-form-field>
        </p>
        <div *ngIf="forgotForm.invalid && (forgotForm.dirty || forgotForm.touched)" id="all-field">
          <mat-error>
            Please fill in all the required fields.
          </mat-error>
        </div>
        <div class="forgot">
          <p id="forgot-password" routerLink="/home/login">Already register ?</p>
          <p routerLink="/home/registers" id="register">Are you new user ?</p>
        </div>
        <div id="register-submit">
          <button mat-raised-button color="primary" type="submit">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>
