<div class="productlist-container">
  <div class="heading">
    <div class="head">
      <h2>Total products : {{productListTotal}}</h2>
    </div>
  </div>
  <div class="product-table">
    <div class="filter">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Search here</mat-label>
          <input matInput placeholder="" (keyup)="applyFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </p>
    </div>
    <mat-table [dataSource]="dataSource" matSort matPaginator>

      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{ element.userId }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="materialtype">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Material</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.materialtype }} </mat-cell>
      </ng-container>
      <!-- email Column -->
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.category }} </mat-cell>
      </ng-container>

      <!-- Business Name Column -->
      <ng-container matColumnDef="selectedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.selectedDate ? element.selectedDate : 'Immediate' }}
        </mat-cell>
      </ng-container>



      <!-- location -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.location }} </mat-cell>
      </ng-container>
      <!-- quality -->
      <ng-container matColumnDef="quality">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quality </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.quality }} </mat-cell>
      </ng-container>
      <!-- contact -->
      <ng-container matColumnDef="mobileNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{ element.mobileNumber }} </mat-cell>
      </ng-container>
      <!-- contact -->
      <ng-container matColumnDef="productPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Price </mat-header-cell>
        <mat-cell *matCellDef="let element" > {{ element.productPrice }} </mat-cell>
      </ng-container>
      <!-- image -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Image </mat-header-cell>
        <mat-cell *matCellDef="let element" > <mat-icon (click)="copyImageLink(element.image)">content_copy</mat-icon> </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon>edit</mat-icon>
        </mat-cell>
      </ng-container>

      <!-- delete -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">

            <mat-icon (click)="confirmDelete(element)">delete</mat-icon>
        </mat-cell>
      </ng-container>


      <!-- Specify which columns to display -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[4, 10, 20, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
