<div class="registerlist-container">
  <div class="heading">
    <div class="head">
      <h2>Total registered members : {{registerListTotal}}</h2>
    </div>
  </div>
  <div class="register-table">
    <div class="filter">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Search here</mat-label>
          <input matInput placeholder="" (keyup)="applyFilter($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </p>
    </div>
    <mat-table [dataSource]="dataSource" matSort matPaginator>

      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
        <mat-cell *matCellDef="let element" [matTooltip]="element.role"> {{ element.userId }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>

      <!-- Business Name Column -->
      <ng-container matColumnDef="businessName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Business  </mat-header-cell>
        <mat-cell *matCellDef="let element" [matTooltip]="element.businessType"> {{ element.businessName }} </mat-cell>
      </ng-container>

      <!-- location -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.location }} </mat-cell>
      </ng-container>
      <!-- contact -->
      <ng-container matColumnDef="mobileNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact </mat-header-cell>
        <mat-cell *matCellDef="let element" [matTooltip]="element.gst"> {{ element.mobileNumber }} </mat-cell>
      </ng-container>

      

      <!-- delete -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">

            <mat-icon (click)="confirmDelete(element)">delete</mat-icon>
        </mat-cell>
      </ng-container>


      <!-- Specify which columns to display -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[4, 10, 20, 100]" showFirstLastButtons></mat-paginator>


  </div>
</div>
