<div class="header-containers">
  <div class="logo-area">
    <img src="assets/logo/debri.jpeg" alt="logo">
  </div>
  <div class="navigation">
    <ul>
      <li routerLink="/products/buymaterials">Buy materials</li>
      <li routerLink="/products/sellmaterials">Sell materials</li>
      <li routerLink="/products/disposewaste">Dispose waste </li>
      <li routerLink="/products/waste-management">Waste management service</li>
      <li (click)="openLogoutDialog()"><mat-icon>exit_to_app</mat-icon></li>
    </ul>

  </div>
</div>
