<div class="headers">
    <app-debriheader> </app-debriheader>
  </div>
  <div class="about-us">
    <div class="ab_flx aboutit">
      <h2>About Us</h2>
      <div class="headingz_1">
        <div class="header">
          <h3>Debri-<span class="circlecolor">circle</span></h3>
        </div>
        <div class="img1">
          <img src="../../../../assets/aboutus/brick-6510675_1920 (1).jpg">
        </div>
      </div>
  
      <div class="headingz_2">
        <div class="img2">
          <img src="../../../../assets/aboutus/rocks-1869970_1920 (1).jpg">
        </div>
        <div class="aboutus-inside">
          <p>
            Welcome to Debri Circle, where we're transforming construction with
            sustainability at its core. Our platform enables the trade of secondary
            building materials, reducing resource wastage and championing the
            circular economy.
          </p>
        </div>
      </div>
    </div>
     <div class="ab_flx vision">
      <div class="visionimgflex">
        <div class="visionlogo">
          <img src="../../../../assets/logo/debri.png" alt="logo">
        </div>
        <div class="visionimg">
          <img src="../../../../assets/aboutus/drainage-pipes-2471293_1920 (1).jpg" alt="pipe">
        </div>
      </div>
      <div class="visioninside">
        <div class="visioninsideheader">
          <h4>Vision:</h4>
        </div>
        <p>
          At Debri Circle, we're driven by a vision of a construction industry
          that's resource-efficient and responsible. We strive to make this vision
          a reality by providing a user-friendly marketplace for secondary
          building materials.
        </p>
      </div>
    </div>
    <div class="ab_flx ourcommitments">
      <div class="ourcommitmentsheader">
        <h2>Our-Commitments</h2>
      </div>
      <div class="ourcommitmentsflex">
        <div class="economy">
          <div>
            <h4>Circular Economy Focus:</h4>
            <p>
              We're strong advocates of the circular economy, promoting the reuse of
              building materials to reduce environmental impact.
            </p>
          </div>
        </div>
        <div class="resource">
          <h4>Resource Optimization:</h4>
          <p>
            Our platform empowers users to maximize the utility of existing
            materials, cutting down on waste and emissions.
          </p>
        </div>
        <div class="consultation">
          <h4>Expert Consultation:</h4>
          <p>
            Our team offers tailored consulting services on construction and
            demolition waste management. We are striving to decarbonise demolition
            industry. Consult us for reducing your project's carbon footprint.
          </p>
        </div>
  
      </div>
      <div class="ab_flx joinus">
        <div>
          <h2>Join-Us</h2>
          <p>
            Together, we're reshaping construction, reducing waste, and promoting
            responsible practices. Whether you're a builder, seller, or
            organization, Debri Circle is your partner in sustainable construction.
            Let's build a better future, one resource at a time. Thank you for
            choosing us as your ally in this journey.
          </p>
        </div>
      </div>
  
  
    </div>
  
    <div class="ab_flx contactus">
      <div class="contactusz">
          <div class="contactusfleximage">
            <img src="../../../../assets/aboutus/web-3963945 (1).jpg" alt="web">
          </div>
          <div class="contactus-content">
            <h2>Contact-Us</h2>
            <p>
              Our expert consultation services empower you to navigate construction
              waste management, ensuring responsible disposal and resource
              optimization. Embrace sustainable construction practices with our
              guidance, creating eco-friendly projects that benefit both your bottom
              line and the planet.
            </p>
          </div>
      </div>
      <div class="partnerwithus">
        <div class="contentpartnerwithus">
          <h2>PartnerWithUs</h2>
          <p>
            Calling all scrap dealers, waste management wizards, and logistics
            heroes: Team up with us to supercharge your business! Builders,
            architects, engineers, and contractors, join forces with us and
            revolutionize your projects through sustainable materials!
          </p>
        </div>
        <div class="imagepartnerwithus">
          <img src="../../../../assets/aboutus/system-3653380_1920 (1).jpg" alt="system">
        </div>
      </div>
  
  
    </div>
  </div>
  