.disposewaste-container{
  width: 100%;
  height: 150vh;
  background-color: #d3eaf2b2;
  .headers{
    width: 100%;
    height: 20vh;
    background-color: #fff;
  }
  .main{
    width: 100%;
    height: 130vh;
    border: 2px solid red;
    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    .main-area{
      width: 70%;
      height: 110vh;
      border: 2px dotted dodgerblue;
      .form-area{
        width: 100%;
        height: 110vh;
        background-color: #fff;
        border-radius: 25px;
      }
    }
  }
}
