.disposewaste-container {
  width: 100%;
  height: 150vh;
  background-color: #d3eaf2b2;
  .headers {
    width: 100%;
    height: 20vh;
    background-color: #fff;
  }
  .main {
    width: 100%;
    height: 130vh;

    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    .main-area {
      width: 70%;
      height: 110vh;

      .form-area {
        width: 100%;
        height: 110vh;
        background-color: #fff;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        mat-tab-group {
          width: 80%;
          height: 110vh;
          margin-top: 25px;
          .non-segregated-form {
            width: 100%;
            height: 100vh;

            display: flex;
            justify-content: center;
            form {
              width: 100%;
              height: 98vh;

              padding-top: 30px;
              p {
                display: flex;
                justify-content: space-around;
                mat-form-field {
                  width: 40%;
                }
              }

              button {
                width: 20%;
                height: 6vh;
                float: right;
                background-color: #f5912f;
                color: #fff;
              }
              #all-field{
                margin-left: 32px;
              }
            }
          }
          .segregated-form {
            width: 100%;
            height: 100vh;

            form {
              width: 100%;
              height: 98vh;

              padding-top: 30px;
              p {
                display: flex;
                justify-content: space-around;
                mat-form-field {
                  width: 40%;
                }
                #hidden-form {
                  visibility: hidden;
                }
              }
              button {
                width: 20%;
                height: 6vh;
                float: right;
                background-color: #f5912f;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
