.disposewaste-container {
  width: 100%;
  height: 150vh;
  background-color: #f5f6f7;
  .headers {
    width: 100%;
    height: 15vh;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    @media (max-width: 425px) {
      height: 40vh;
    }
  }
  .main {
    width: 100%;
    height: 130vh;

    display: flex;
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    .main-area {
      width: 70%;
      height: 115vh;

      .form-area {
        width: 100%;
        height: 115vh;
        background-color: #fff;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
          /* Top shadow */ 0 -4px 4px rgba(0, 0, 0, 0.1),
          /* Bottom shadow */ 4px 0 4px rgba(0, 0, 0, 0.1),
          /* Right shadow */ -4px 0 4px rgba(0, 0, 0, 0.1); /* Left shadow */
        mat-tab-group {
          width: 80%;
          height: 115vh;
          margin-top: 25px;
          .non-segregated-form {
            width: 100%;
            height: 100vh;

            display: flex;
            justify-content: center;
            form {
              width: 100%;
              height: 98vh;
              padding-top: 30px;
              justify-content: center;
              // border: 2px solid #f5912f;
              p {
                display: flex;
                justify-content: space-around;
                mat-form-field {
                  width: 40%;
                }
              }
              mat-form-field {
                width: 40%;
              }
              .tipping {
                width: 100%;
                height: 80px;
                // border: 3px solid yellow;
                display: flex;
                justify-content: center;
                .tipping-main {
                  width: 92%;
                  height: 80px;
                  // border: 3px solid pink;
                  display: flex;
                  mat-form-field {
                    width: 45%;
                  }
                  .button-tipping {
                    margin-left: 70px;
                    width: 45%;
                    height: 80px;
                    // border: 2px solid blue;
                    button {
                      width: 50%;
                      height: 6vh;
                      float: right;
                      // background-color: #f5912f;
                      color: #fff;
                    }
                  }
                }
              }

              button {
                width: 20%;
                height: 6vh;
                float: right;
                background-color: #f5912f;
                color: #fff;
              }
              #all-field {
                margin-left: 32px;
                display: flex;
              }
            }
          }
          .segregated-form {
            width: 100%;
            height: 105vh;

            form {
              width: 100%;
              height: 105vh;

              padding-top: 30px;
              p {
                display: flex;
                justify-content: space-around;
                mat-form-field {
                  width: 40%;
                }
                #hidden-form {
                  visibility: hidden;
                }
              }
              button {
                width: 20%;
                height: 6vh;
                float: right;
                background-color: #f5912f;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
