<div class="buymaterials-container">
  <div class="headers">
    <app-header></app-header>
  </div>
  <div class="material-card">
    <div class="card-area">
      <div class="filter-area">
        <mat-form-field appearance="outline">
          <mat-label>Material type</mat-label>
          <mat-select>
            <mat-option value="Coarse aggregate">Coarse aggregate</mat-option>
            <mat-option value="Fine aggregate">Fine aggregate</mat-option>
            <mat-option value="Bricks">Bricks</mat-option>
            <mat-option value="Blocks">Blocks</mat-option>
            <mat-option value="Wood">Wood</mat-option>
            <mat-option value="Steel">Steel</mat-option>
            <mat-option value="Plastics">Plastics</mat-option>
            <mat-option value="Cement Bag">Cement Bag</mat-option>
            <mat-option value="Cardboard and other packaging waste"
              >Cardboard and other packaging waste</mat-option
            >
            <mat-option value="Pipes and plastics"
              >Pipes and plastics</mat-option
            >
            <mat-option value="Tiles">Tiles</mat-option>
            <mat-option value="Granite">Granite</mat-option>
            <mat-option value="Others">Others</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory">
            <mat-option value="Recycled">Recycled</mat-option>
            <mat-option value="Used">Used</mat-option>
            <mat-option value="New/Surplus">New/Surplus</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select>
            <mat-option value="Thiruvotriyur">Thiruvotriyur</mat-option>
              <mat-option value="Manali">Manali</mat-option>
              <mat-option value="Madhavaram">Madhavaram</mat-option>
              <mat-option value="Tondiarpet">Tondiarpet</mat-option>
              <mat-option value="Royapuram">Royapuram</mat-option>
              <mat-option value="THIRU-VI-KA Nagar">THIRU-VI-KA Nagar</mat-option>
              <mat-option value="Ambattur">Ambattur</mat-option>
              <mat-option value="Anna Nagar">Anna Nagar</mat-option>
              <mat-option value="Teynampet">TEYNAMPET</mat-option>
              <mat-option value="Kodambakkam">Kodambakkam</mat-option>
              <mat-option value="Valasaravakkam">Valasaravakkam</mat-option>
              <mat-option value="Alandur">Alandur</mat-option>
              <mat-option value="Adyar">Adyar</mat-option>
              <mat-option value="Perungudi">Perungudi</mat-option>
              <mat-option value="Sozhanganallur">SOZHANGANALLUR</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quality</mat-label>
          <mat-select [(value)]="selectedQuality">
            <mat-option value="verified">Verified</mat-option>
            <mat-option value="denied">Denied</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="card-areas" >
        <div class="center">

          <div class="cards"  *ngFor="let product of getAllProducts | filter: 'category' : selectedCategory | filter: 'quality' : selectedQuality; let i = index">
            <div class="card-like">
              <mat-icon>favorite_border</mat-icon>
            </div>
            <div class="main-cards">
              <div class="image-area">
                <img [src]="product.image" alt="product-image" />
              </div>
              <div class="product-details">
                <div class="sub-product">
                  <div id="details1">
                    <h1>{{ product.description }}</h1>
                    <p>Category : {{ product.category }}</p>
                    <p>Quality tested : {{ product.quality }}</p>
                    <p>Availability : {{ product.selectedDate }}</p>
                  </div>
                  <div id="details2">
                    <p>Address : {{ product.location }}</p>
                    <p id="rupee">
                      &#8377; <b>{{ product.productPrice }}</b>
                    </p>
                  </div>
                </div>
                <div class="products-button">
                  <button mat-raised-button id="phone-button" (click)="togglePhoneNumber(i)">
                    <mat-icon>phone</mat-icon>
                    {{ activeCardIndices.includes(i) ? product.mobileNumber : 'Show number' }}
                  </button>
                  <button mat-raised-button color="primary" id="cart-button">
                    <mat-icon>shopping_cart</mat-icon>Add to cart
                  </button>
                  <button mat-raised-button color="primary" id="buy-now">
                    <mat-icon>shopping_cart</mat-icon>Buy now
                  </button>
                </div>
              </div>
            </div>
            <div class="verify-card" *ngIf="product.quality !== 'Denied'">
              <mat-icon>verified_user</mat-icon>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
