<div class="buymaterials-container">
  <div class="headers">
    <app-debriheader></app-debriheader>
  </div>
  <div class="material-card">
    <div class="card-area">
      <div class="filter-area">
        <div class="filter-form">
          <mat-form-field appearance="outline">
            <mat-label>Material type</mat-label>
            <mat-select [(ngModel)]="selectedMaterial">
              <mat-option value="">None</mat-option>
              <mat-option value="Coarse aggregate">Coarse aggregate</mat-option>
              <mat-option value="Fine aggregate">Fine aggregate</mat-option>
              <mat-option value="Bricks">Bricks</mat-option>
              <mat-option value="Blocks">Blocks</mat-option>
              <mat-option value="Wood">Wood</mat-option>
              <mat-option value="Steel">Steel</mat-option>
              <mat-option value="Plastics">Plastics</mat-option>
              <mat-option value="Cement Bag">Cement Bag</mat-option>
              <mat-option value="Cardboard and other packaging waste"
                >Cardboard and other packaging waste</mat-option
              >
              <mat-option value="Pipes and plastics"
                >Pipes and plastics</mat-option
              >
              <mat-option value="Tiles">Tiles</mat-option>
              <mat-option value="Granite">Granite</mat-option>
              <mat-option value="Others">Others</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedCategory">
              <mat-option value="">None</mat-option>
              <mat-option value="Recycled">Recycled</mat-option>
              <mat-option value="Used">Used</mat-option>
              <mat-option value="New/Surplus">New/Surplus</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select [(ngModel)]="selectedLocation">
              <mat-option value="">None</mat-option>
              <mat-option value="Thiruvotriyur">Thiruvotriyur</mat-option>
              <mat-option value="Manali">Manali</mat-option>
              <mat-option value="Madhavaram">Madhavaram</mat-option>
              <mat-option value="Tondiarpet">Tondiarpet</mat-option>
              <mat-option value="Royapuram">Royapuram</mat-option>
              <mat-option value="THIRU-VI-KA Nagar"
                >THIRU-VI-KA Nagar</mat-option
              >
              <mat-option value="Ambattur">Ambattur</mat-option>
              <mat-option value="Anna Nagar">Anna Nagar</mat-option>
              <mat-option value="Teynampet">TEYNAMPET</mat-option>
              <mat-option value="Kodambakkam">Kodambakkam</mat-option>
              <mat-option value="Valasaravakkam">Valasaravakkam</mat-option>
              <mat-option value="Alandur">Alandur</mat-option>
              <mat-option value="Adyar">Adyar</mat-option>
              <mat-option value="Perungudi">Perungudi</mat-option>
              <mat-option value="Sozhanganallur">SOZHANGANALLUR</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Quality</mat-label>
            <mat-select [(ngModel)]="selectedQuality">
              <mat-option value="">None</mat-option>
              <mat-option value="Verified">Verified</mat-option>
              <mat-option value="Denied">Denied</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="card-areas">
        <div class="center">
          <div
            class="cards"
            *ngFor="
              let product of products
                | filter
                  : {
                      quality: selectedQuality,
                      category: selectedCategory,
                      location: selectedLocation,
                      materialtype: selectedMaterial
                    };
              let i = index
            "
          >
            <div class="card-like">
              <mat-icon>favorite_border</mat-icon>
            </div>
            <div class="main-cards">
              <div class="image-area">
                <img [src]="product.image" alt="product-image" />
              </div>
              <div class="product-details">
                <div class="sub-product">
                  <div id="details1">
                    <h1>{{ product.materialtype }}</h1>
                    <p>Category : {{ product.category }}</p>
                    <p *ngIf="product.quality !== 'Denied'">Quality : {{ product.quality }}</p>
                    <p>
                      Availability:
                      {{
                        product.selectedDate
                          ? product.selectedDate === "1/1/1970"
                            ? "Immediate"
                            : product.selectedDate
                          : "Immediate"
                      }}
                    </p>
                  </div>
                  <div id="details2">
                    <p
                      *ngIf="!localStorageEmpty"
                      matTooltip="{{ product.address }}"
                    >
                      Address : {{ product.location }}
                    </p>
                    <p>Quantity : {{ product.quantity }}</p>
                    <p id="rupee">
                      &#8377; <b>{{ product.productPrice }}</b>
                    </p>
                  </div>
                </div>
                <div class="products-button">
                  <button
                    mat-raised-button
                    id="phone-button"
                    (click)="togglePhoneNumber(i)"
                  >
                    <mat-icon>phone</mat-icon>
                    {{
                      activeCardIndices.includes(i)
                        ? product.mobileNumber
                        : "Show number"
                    }}
                  </button>
                  <!-- <button mat-raised-button color="primary" id="cart-button" (click)="addtocart(i)">
                    <mat-icon>shopping_cart</mat-icon>Add to cart
                  </button> -->

                  <!-- <button
                    mat-raised-button
                    color="primary"
                    id="cart-button"
                    *ngIf="!isProductInCart(product.id)"
                    (click)="addtocart(i)"
                  >
                    <mat-icon>shopping_cart</mat-icon>
                    Add to cart
                  </button> -->
                  <button
                    mat-raised-button
                    color="primary"
                    id="cart-button"
                    *ngIf="isProductInCart(product.id)"
                    routerLink="/addtocart"
                  >
                    <mat-icon>shopping_cart</mat-icon>
                    Go to cart
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    id="cart-button"
                    *ngIf="!isProductInCart(product.id)"
                    (click)="addtocart(product)"

                  >
                    <mat-icon>shopping_cart</mat-icon>
                    Add to cart
                  </button>

                  <button mat-raised-button color="primary" id="buy-now" (click)="createRazorpayOrder(product)">
                    <mat-icon>shopping_cart</mat-icon>Buy now
                  </button>
                </div>
              </div>
            </div>
            <div class="verify-card" *ngIf="product.quality !== 'Denied'">
              <mat-icon>verified_user</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
